.input-field.invalid input, .input-field.invalid input:focus {
	border-bottom: 1px solid #F44336;
	-webkit-box-shadow: 0 1px 0 0 #F44336;
	box-shadow: 0 1px 0 0 #F44336;
}

.input-field label {
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

/* label.active {
	color: #26a69a;
} */

.input-field.invalid label, .input-field.invalid label.active {
	color: #F44336;
}

.error_msg {
	position: absolute;
	bottom: -5px;
	font-size: 90%;
	color: #F44336;
	opacity: 0;
	/* -webkit-transition: .1s opacity ease-in-out, .1s color ease-in-out;
	transition: .1s opacity ease-in-out, .1s color ease-in-out; */
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.input-field.invalid .error_msg {
	opacity: 1;
}
